// Separator
.separator {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-2_5);
	width: 100%;
	height: auto;
	background: none;
	border: none;
	margin: var(--space-6) 0;
	color: var(--muted-foreground);
	font-size: var(--font-size-sm);
	text-transform: uppercase;
	letter-spacing: var(--letter-spacing-wide);
	white-space: nowrap;

	&::before,
	&::after {
		content: "";
		flex: 1;
		height: 1px;
		background-color: var(--border);
	}

	&:empty::before,
	&:empty::after {
		flex: 1;
	}

	&[data-orientation="vertical"] {
		flex-direction: column;
		width: auto;
		height: 100%;
		margin: 0 var(--space-4);
		gap: var(--space-1_5);

		&::before,
		&::after {
			width: 1px;
			height: auto;
			flex: 1 1 auto;
		}
	}
}
