// Tables
table {
	max-width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

table.striped tr:nth-of-type(2n) {
	background-color: var(--muted);
	color: var(--muted-foreground);
}

td,
th {
	vertical-align: middle;
	padding: var(--space-3) var(--space-4);
}

thead {
	border-bottom: 2px solid var(--border);
}

tfoot {
	border-top: 2px solid var(--border);
}

caption {
	text-align: left;
	font-weight: bold;
	padding-bottom: var(--space-2_5);
}
