body > .container {
	max-width: 720px;
	margin: 0 auto;
	padding: 2rem;
}

.hero {
	display: flex;
	flex-direction: column;
}

.logo {
	flex: 1;
	flex-direction: column;
}

.logo h1 {
	color: var(--color-primary);
	font-size: 400%;
	font-weight: bold;
}

.logo h3 {
	font-weight: 300;
}


body > footer {
	background-color: var(--bg-secondary-color);
	padding: 4rem;
}

body.dark > footer {
 background-color: black;
}

section {
	margin: 3rem auto;
}

#features ul {
	list-style-type: disc;
	padding: 0 0 0 20px;
	font-size: 1.2rem;
	font-weight: 200;
}

figure.highlight {
	margin: 2rem 0;
}


#grid .card {
	padding: 1rem;
	font-size: 1.2rem;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.buttons > * {
	margin: 0 0.5rem;
}