@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
	--bg-color: #FAFAFA;
	--bg-secondary-color: #EEEEEE;
	--color-primary: #673AB7;
	--color-lightGrey: #BDBDBD;
	--color-grey: #616161;
	--color-darkGrey: #424242;
	--color-error: #D32F2F;
	--color-success: #388E3C;
	--font-color: #212121;
	--grid-maxWidth: 120rem;
	--grid-gutter: 2rem;
	--font-size: 1.6rem;
	--font-family-main: 'Lato', sans-serif;
	--font-family-code: 'Inconsolata', monospace;;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	line-height: 1.15;
	text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--bg-color);
	color: var(--font-color);
	accent-color: var(--color-primary);
	font-family: var(--font-family-main);
	font-size: var(--font-size);
	line-height: 1.6;
	max-width: 100vw;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
	margin: 0.35em 0 0.7em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: 0.85em;
}

p {
	margin-top: 0;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

a:hover:not(.button) {
	opacity: 0.75;
}

button {
	font-family: inherit;
}

blockquote {
	background-color: var(--bg-secondary-color);
	padding: 1.5rem 2rem;
	border-radius: 4px;
	border-left: 3px solid var(--color-lightGrey);
}

dl dt {
	font-weight: bold;
}

hr {
	border: none;
	background-color: var(--color-lightGrey);
	height: 1px;
	margin: 1rem 0;
}

table {
	width: 100%;
	border: none;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
}

table.striped tr:nth-of-type(2n) {
	background-color: var(--bg-secondary-color);
}

td,
th {
	vertical-align: middle;
	padding: 1.2rem 0.4rem;
}

thead {
	border-bottom: 2px solid var(--color-lightGrey);
}

tfoot {
	border-top: 2px solid var(--color-lightGrey);
}

code,
kbd,
pre,
samp,
tt {
	font-family: var(--font-family-code);
}

code,
kbd {
	font-size: 90%;
	white-space: pre-wrap;
	border-radius: 4px;
	padding: 0.2em 0.4em;
	background-color: var(--bg-secondary-color);
	color: var(--color-error);
}

pre {
	background-color: var(--bg-secondary-color);
	font-size: 1em;
	padding: 1rem;
	overflow-x: auto;
}

pre code {
	background: none;
	padding: 0;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

fieldset {
	border: 1px solid var(--color-lightGrey);
}

iframe {
	border: 0;
}

img {
	max-width: 100%;
	border-radius: 4px;
}

video {
	max-width: 100%;
	border-radius: 4px;
}