@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
	--typography-font: "Lato", sans-serif;
	--typography-code: "Inconsolata", monospace;
	--typography-size: 1.6em;
	--typography-line-height: 1.4;

	--grid-max-width: 120rem;
	--grid-gutter-size: 2rem;

	--color-primary: #6750A4;
	--color-on-primary: #FFFFFF;
	--color-primary-container: #EADDFF;
	--color-on-primary-container: #21005D;
	--color-secondary: #625B71;
	--color-on-secondary: #FFFFFF;
	--color-secondary-container: #E8DEF8;
	--color-on-secondary-container: #1D192B;
	--color-tertiary: #7D5260;
	--color-on-tertiary: #FFFFFF;
	--color-tertiary-container: #FFD8E4;
	--color-on-tertiary-container: #31111D;
	--color-error: #B3261E;
	--color-on-error: #FFFFFF;
	--color-error-container: #F9DEDC;
	--color-on-error-container: #410E0B;
	--color-outline: #79747E;
	--color-background: #FFFBFE;
	--color-on-background: #1C1B1F;
	--color-surface: #FFFBFE;
	--color-on-surface: #1C1B1F;
	--color-surface-variant: #E7E0EC;
	--color-on-surface-variant: #49454F;
	--color-inverse-surface: #313033;
	--color-inverse-on-surface: #F4EFF4;
	--color-inverse-primary: #D0BCFF;
	--color-shadow: #000000;
	--color-surface-tint: #6750A4;
	--color-outline-variant: #CAC4D0;
	--color-scrim: #000000;
}

.dark {
	--color-primary: #D0BCFF;
	--color-on-primary: #381E72;
	--color-primary-container: #4F378B;
	--color-on-primary-container: #EADDFF;
	--color-secondary: #CCC2DC;
	--color-on-secondary: #332D41;
	--color-secondary-container: #4A4458;
	--color-on-secondary-container: #E8DEF8;
	--color-tertiary: #EFB8C8;
	--color-on-tertiary: #492532;
	--color-tertiary-container: #633B48;
	--color-on-tertiary-container: #FFD8E4;
	--color-error: #F2B8B5;
	--color-on-error: #601410;
	--color-error-container: #8C1D18;
	--color-on-error-container: #F9DEDC;
	--color-outline: #938F99;
	--color-background: #1C1B1F;
	--color-on-background: #E6E1E5;
	--color-surface: #1C1B1F;
	--color-on-surface: #E6E1E5;
	--color-surface-variant: #49454F;
	--color-on-surface-variant: #CAC4D0;
	--color-inverse-surface: #E6E1E5;
	--color-inverse-on-surface: #313033;
	--color-inverse-primary: #6750A4;
	--color-shadow: #000000;
	--color-surface-tint: #D0BCFF;
	--color-outline-variant: #49454F;
	--color-scrim: #000000;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background-color: var(--color-background);
	color: var(--color-on-background);
	accent-color: var(--color-primary);
	max-width: 100vw;
	margin: 0;
	padding: 0;
}

dl dt {
	font-weight: bold;
}

hr {
	background-color: var(--color-secondary-container);
	border: none;
	height: 1px;
	margin: 1rem 0;
}

iframe {
	border: 0;
}

img {
	max-width: 100%;
	border-radius: 4px;
}

video {
	max-width: 100%;
	border-radius: 4px;
}