details.dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

details.dropdown > summary {
	cursor: pointer;
}

details.dropdown > :last-child {
	position: absolute;
	left: 0;
	white-space: nowrap;
	padding: 0.5rem 1rem;
	z-index: 1;
}