fieldset {
	border: 1px solid var(--color-secondary);
	border-radius: 4px;
	padding: 0.5rem 1rem;
}

legend {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 0.1rem;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
select,
textarea,
textarea[type="text"] {
	background-color: var(--color-surface);
	color: var(--color-on-surface);
	border: 1px solid var(--color-secondary);
	border-radius: 4px;
	font-family: inherit;
	font-size: 1em;
	padding: 0.8rem 1rem;
	transition: border-color 0.2s ease;
	transition: all 0.2s ease;
	display: block;
	width: 100%;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background: var(--color-on-secondary) no-repeat 100%;
	background-size: 1ex;
	background-origin: content-box;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='40' fill='%23555'><polygon points='0,0 60,0 30,40'/></svg>");
}

.button,
[type="button"],
[type="reset"],
[type="submit"],
button {
	background-color: var(--color-primary-container);
	color: var(--color-on-primary-container);
	padding: 1rem 2.5rem;
	border: 1px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	line-height: 1;
	transition: opacity 0.2s ease;
	transform: scale(1);
	display: inline-block;
	cursor: pointer;
}

.button.primary,
.button.secondary,
.button.tertiary,
.button.error,
[type="submit"] {
	background-color: var(--color-primary);
	color: var(--color-on-primary);
	z-index: 1;
}

.button:hover,
[type="button"]:hover,
[type="reset"]:hover,
[type="submit"]:hover,
button:hover {
	opacity: 0.8;
}

input:disabled,
input:disabled:hover,
button:disabled,
button:disabled:hover {
	opacity: 0.4;
	cursor: not-allowed;
}

.grouped {
	display: flex;
	align-items: center;
}

.grouped > *:not(:last-child) {
	margin-right: 16px;
}

.grouped.gapless > * {
	margin: 0 0 0 -1px !important;
	border-radius: 0 !important;
}

.grouped.gapless > *:first-child {
	margin: 0 !important;
	border-radius: 4px 0 0 4px !important;
}

.grouped.gapless > *:last-child {
	border-radius: 0 4px 4px 0 !important;
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"], :disabled):hover,
select:hover,
textarea:hover,
textarea[type="text"]:hover {
	border-color: var(--color-secondary);
}

input:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]):focus,
select:focus,
textarea:focus,
textarea[type="text"]:focus {
	outline: none;
	border-color: var(--color-primary);
	box-shadow: 0 0 1px var(--color-primary);
}

input.error:not([type="checkbox"], [type="radio"], [type="submit"], [type="color"], [type="button"], [type="reset"]),
textarea.error {
	border-color: var(--color-error);
}

[type="checkbox"],
[type="radio"] {
	width: 1.6rem;
	height: 1.6rem;
	margin-right: 6px;
}

.button + .button {
	margin-left: 1rem;
}

.button.secondary {
	background-color: var(--color-secondary);
	color: var(--color-on-secondary);
}

.button.tertiary {
	background-color: var(--color-tertiary);
	color: var(--color-on-tertiary);
}

.button.error {
	background-color: var(--color-error);
	color: var(--color-on-error);
}

.button.outline {
	background-color: transparent;
	color: var(--color-on-primary-container);
	border-color: var(--color-outline);
}

.button.outline.primary {
	color: var(--color-primary);
}

.button.outline.secondary {
	color: var(--color-secondary);
}

.button.outline.tertiary {
	color: var(--color-tertiary);
}

.button.outline.error {
	color: var(--color-tertiary);
}

.button.clear {
	background-color: transparent;
	border-color: transparent;
	color: var(--color-primary);
}

.button.icon {
	display: inline-flex;
	align-items: center;
}

.button.icon > * {
	margin-left: 2px;
}

.button.icon-only {
	padding: 1rem;
}

.button:active:not(:disabled),
[type="button"]:active:not(:disabled),
[type="reset"]:active:not(:disabled),
[type="submit"]:active:not(:disabled),
button:active:not(:disabled) {
	transform: scale(0.99);
}

progress {
	--color: var(--color-primary-container);
	--color-value: var(--color-on-primary-container);

	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 4px;

	&.is-full {
		width: 100%;
	}

	&.secondary {
		--color: var(--color-secondary-container);
		--color-value: var(--color-on-secondary-container);
	}

	&.tertiary {
		--color: var(--color-tertiary-container);
		--color-value: var(--color-on-tertiary-container);
	}

	&.error {
		--color: var(--color-error-container);
		--color-value: var(--color-on-error-container);
	}
}

progress:indeterminate {
	background-color: var(--color);
}

progress::-webkit-progress-bar {
	background-color: var(--color);
	border-radius: 4px;
}

progress::-webkit-progress-value {
	background-color: var(--color-value);
	border-radius: 4px;
}

progress::-moz-progress-bar {
	background-color: var(--color);
	border-radius: 4px;
	transition-property: width;
	transition-duration: 0.3s;
}

progress::-moz-progress-value {
	background-color: var(--color-value);
	border-radius: 4px;
}

::placeholder {
	color: var(--color-outline);
}