body:not(.dark) .highlight table td {
	padding: 5px;
}

body:not(.dark) .highlight table pre {
	margin: 0;
}

body:not(.dark) .highlight .cm {
	color: #999988;
	font-style: italic;
}

body:not(.dark) .highlight .cp {
	color: #999999;
	font-weight: bold;
}

body:not(.dark) .highlight .c1 {
	color: #999988;
	font-style: italic;
}

body:not(.dark) .highlight .cs {
	color: #999999;
	font-weight: bold;
	font-style: italic;
}

body:not(.dark) .highlight .c, body:not(.dark) .highlight .cd {
	color: #999988;
	font-style: italic;
}

body:not(.dark) .highlight .err {
	color: #a61717;
	background-color: #e3d2d2;
}

body:not(.dark) .highlight .gd {
	color: #000000;
	background-color: #ffdddd;
}

body:not(.dark) .highlight .ge {
	color: #000000;
	font-style: italic;
}

body:not(.dark) .highlight .gr {
	color: #aa0000;
}

body:not(.dark) .highlight .gh {
	color: #999999;
}

body:not(.dark) .highlight .gi {
	color: #000000;
	background-color: #ddffdd;
}

body:not(.dark) .highlight .go {
	color: #888888;
}

body:not(.dark) .highlight .gp {
	color: #555555;
}

body:not(.dark) .highlight .gs {
	font-weight: bold;
}

body:not(.dark) .highlight .gu {
	color: #aaaaaa;
}

body:not(.dark) .highlight .gt {
	color: #aa0000;
}

body:not(.dark) .highlight .kc {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .kd {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .kn {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .kp {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .kr {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .kt {
	color: #445588;
	font-weight: bold;
}

body:not(.dark) .highlight .k, body:not(.dark) .highlight .kv {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .mf {
	color: #009999;
}

body:not(.dark) .highlight .mh {
	color: #009999;
}

body:not(.dark) .highlight .il {
	color: #009999;
}

body:not(.dark) .highlight .mi {
	color: #009999;
}

body:not(.dark) .highlight .mo {
	color: #009999;
}

body:not(.dark) .highlight .m, body:not(.dark) .highlight .mb, body:not(.dark) .highlight .mx {
	color: #009999;
}

body:not(.dark) .highlight .sb {
	color: #d14;
}

body:not(.dark) .highlight .sc {
	color: #d14;
}

body:not(.dark) .highlight .sd {
	color: #d14;
}

body:not(.dark) .highlight .s2 {
	color: #d14;
}

body:not(.dark) .highlight .se {
	color: #d14;
}

body:not(.dark) .highlight .sh {
	color: #d14;
}

body:not(.dark) .highlight .si {
	color: #d14;
}

body:not(.dark) .highlight .sx {
	color: #d14;
}

body:not(.dark) .highlight .sr {
	color: #009926;
}

body:not(.dark) .highlight .s1 {
	color: #d14;
}

body:not(.dark) .highlight .ss {
	color: #990073;
}

body:not(.dark) .highlight .s {
	color: #d14;
}

body:not(.dark) .highlight .na {
	color: #008080;
}

body:not(.dark) .highlight .bp {
	color: #999999;
}

body:not(.dark) .highlight .nb {
	color: #0086B3;
}

body:not(.dark) .highlight .nc {
	color: #445588;
	font-weight: bold;
}

body:not(.dark) .highlight .no {
	color: #008080;
}

body:not(.dark) .highlight .nd {
	color: #3c5d5d;
	font-weight: bold;
}

body:not(.dark) .highlight .ni {
	color: #800080;
}

body:not(.dark) .highlight .ne {
	color: #990000;
	font-weight: bold;
}

body:not(.dark) .highlight .nf {
	color: #990000;
	font-weight: bold;
}

body:not(.dark) .highlight .nl {
	color: #990000;
	font-weight: bold;
}

body:not(.dark) .highlight .nn {
	color: #555555;
}

body:not(.dark) .highlight .nt {
	color: #000080;
}

body:not(.dark) .highlight .vc {
	color: #008080;
}

body:not(.dark) .highlight .vg {
	color: #008080;
}

body:not(.dark) .highlight .vi {
	color: #008080;
}

body:not(.dark) .highlight .nv {
	color: #008080;
}

body:not(.dark) .highlight .ow {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .o {
	color: #000000;
	font-weight: bold;
}

body:not(.dark) .highlight .w {
	color: #bbbbbb;
}

body:not(.dark) .highlight {
	background-color: #f8f8f8;
}