.tag {
	background-color: var(--color-lightGrey);
	color: var(--color-darkGrey);
	border-radius: 4px;
	display: inline-block;
	letter-spacing: 0.2px;
	padding: 0.6rem;
	line-height: 1;
}

.tag.is-small {
	padding: 0.4rem;
	font-size: 0.75em;
}

.tag.is-large {
	padding: 0.7rem;
	font-size: 1.125em;
}

.tag + .tag {
	margin-left: 1rem;
}