.float-top {
	float: top !important;
}

.float-right {
	float: right !important;
}

.float-bottom {
	float: bottom !important;
}

.float-left {
	float: left !important;
}

.text-center {
	text-align: center;
}

.text-top {
	text-align: top;
}

.text-left {
	text-align: left;
}

.text-bottom {
	text-align: bottom;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-upper {
	text-transform: uppercase;
}

.text-lower {
	text-transform: lowercase;
}

.text-capital {
	text-transform: capitalize;
}

.full-screen-width {
	width: 100%;
	min-height: 100vh;
}

.full-width {
	width: 100% !important;
}

.vertical-align {
	display: flex;
	align-items: center;
}

.horizontal-align {
	display: flex;
	justify-content: center;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.fixed {
	position: fixed;
}

.paddingless {
	padding: 0 !important;
}

.marginless {
	margin: 0 !important;
}

.pointer-cursor {
	cursor: pointer !important;
}

.rounded {
	border-radius: 100%;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.hidden {
	display: none !important;
}

.no-deco {
	text-decoration: none;

	* {
		text-decoration: none;
	}
}

@media screen and (max-width: 599px) {
	.hide-xs {
		display: none !important;
	}
}

@media screen and (min-width: 600px) and (max-width: 899px) {
	.hide-sm {
		display: none !important;
	}
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
	.hide-md {
		display: none !important;
	}
}

@media screen and (min-width: 1200px) {
	.hide-lg {
		display: none !important;
	}
}

@media print {
	.hide-print {
		display: none !important;
	}
}