---
---

@import 'lotus';

body.dark {
	--bg-color: #141414;
	--bg-secondary-color: #212121;
	--color-primary: #673AB7;
	--color-lightGrey: #424242;
	--color-grey: #616161;
	--color-darkGrey: #BDBDBD;
	--color-error: #D32F2F;
	--color-success: #388E3C;
	--font-color: #BDBDBD;
}